!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chatspace(ローカル)
    = csrf_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/2bd93a793c.js"}
  %body
    = render 'layouts/notifications'
    = yield   